body{
	margin: 0;
	padding: 0;
	text-align: center;
	font:12px arial,"新宋体" 
}
.border {
	border:1px solid #888;
}
.bgcolor {
	background:#DDD;
}
#container {
	width:960px;   
	margin:0 auto;        
}
#header {                        
	float:left;              
	width:100%;       
}
#logo {                        
	float:left; 
	width:163px; 
	height:50px;
	cursor:pointer;
}
#banner {
	float:right;
	width:750px;
}

#banner #left {
	float:left;
	width:540px;
	height:50px;
	cursor:crosshair;
}
.nav {
	float:left;
	height:10px;
	width:100%;
	overflow:hidden;
	clear:both;
}
#menu {
	float:left;
	width:100%;
	height:30px;
}
#menu ul li{
	float:left;
	width:7.69%;
	display:block;
	line-height:10px;
	text-align:center;
	}
#sidebar {
	float:right;
	width:200px;
	height:410px;
}
#sidebar .bar {
	float:left;
	width:100%;
	height:130px;
}
#content {
	float:left;
	width:750px;
}
#content .left_box {
	float:left; 
	width:370px; 
	height:200px;
}
#content .right_box {
	float:right;
	width:370px;
	height:200px;
}
#content .left {
	float:left;                
	height:200px;                
	width:180px;                
}
#content .right {             
	float:right;                
	height:200px;               
	width:180px;             
}
#footer {                           
	float:left;                 
	width:100%;                 
	height:60px;                
}

